@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
    margin: 0;
    color: #f1f1f1;
}

.container {
    background: #121212;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px; 
    text-align: center;
    border: 1px solid #333;
}

h2 {
    color: #ff80ff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px; 
    margin-bottom: 20px; 
}

input {
    width: 80%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #444;
    border-radius: 8px;
    font-size: 16px;
    background-color: #222;
    color: #fff;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #ff80ff;
}

button {
    background-color: #ff80ff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    width: auto;
    margin-top: 10px;
    max-width: 150px; 
}

button:hover {
    background-color: #e54eb0;
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 2px solid #444;
    background: #1f1f1f;
    border-radius: 8px;
    margin-top: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

li:hover {
    background-color: #333;
    transform: translateX(10px);
}

li span {
    flex-grow: 1;
    text-align: left;
    font-size: 18px; 
    color: #dcdcdc;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    line-height: 1.5; 
}



button.delete {
    background-color: #ff4d4d;
    padding: 8px 12px;
    font-size: 14px;
}

button.delete:hover {
    background-color: #e02424;
}

button:active {
    transform: scale(0.98);
}
